/**
  --- COLOR FUNCTIONS ---
 */

$red-color: red;
$green-color: green;
$blue-color: blue;
$yellow-color: yellow;
$black-color: #4c4c4c;

/**
  Colors the buttons with a little shade.
 */
@mixin colorizeButton($property) {
  background-color: $property;
  background-image: linear-gradient(to bottom, darken($property, 20%), $property);

  &:hover, &:active, &:focus {
    background-color: $property;
  }
}

/* Define the Sassy Map called $buttonColors */
$buttonColors: (
        red: $red-color,
        green: $green-color,
        blue: $blue-color,
        black: $black-color,
        yellow: $yellow-color
);

/* For each key in the map, created an own class */
@each $name, $value in $buttonColors {
  .#{$name} {
    @include colorizeButton( $value);
  }
}


/**
  ---- GENERAL STYLING ----
 */

body {
  background: #222;
  color: #eee;
}
h1 {
  clear: both;
}
input[type=range] {
  -webkit-appearance: slider-vertical;
  height: 100px;
  width: 60px;
  margin-bottom: 2em;
  margin-top: 3em;
}

input[type=range]:before {
  content: attr(value);
  color: #eee;
  font-family: monospace;
  text-align: center;
  width: 60px;
  display: block;
  color: #fff;
  position: absolute;
  top: 2em;
}
.device {
  clear: both;
  padding-top: 1em;
}
.channels{
  width: 100%;
  display: inline-block;
  .channel {
    position: relative;
    text-align: center;
    float: left;
  }
}

.btn {
  margin-bottom: 1em;

}

input.colorpicker{
  width: 30px;
  padding:0;
}
